---
import { BASE_URL } from "@/consts"

import MainLayout from "@/layouts/MainLayout.astro"
import ButtonOrLink from "@/components/ui/ButtonOrLink.astro"
import Grid from "@/components/ui/Grid.astro"
import Heading from "@/components/ui/Heading.astro"
import Accordion from "@/components/Accordion.astro"
import ModalDialog from "@/components/ModalDialog.astro"
import NavLink from "@/components/NavLink.astro"
import Swap from "@/components/Swap.astro"
---

<MainLayout>
    <Grid className="mb-8 bg-linear-180" sidebarClassName="gap-4">
        <Heading size="h3" tagType="h2">Test heading Component</Heading>
        <div class="mb-4 flex items-end gap-2">
            <NavLink href={BASE_URL}>Home</NavLink>
            <ButtonOrLink as="a" href="#" variant={"default"} size={"xs"}>xs Default</ButtonOrLink>
            <ButtonOrLink as="button" type="button" variant={"dark"} size={"sm"}>sm Dark</ButtonOrLink>
            <ModalDialog />
            <Swap />
        </div>
        <Accordion />
    </Grid>
</MainLayout>
