---
import MainLayout from "@/layouts/MainLayout.astro"
import { Icons } from "@/components/Icons"
---

<MainLayout>
    <div class="flex gap-3">
        <h1>Test Other Page</h1><Icons.Search className="size-6" />
    </div>
</MainLayout>
