---
import logoDetikcom from "@/assets/logo.png"
import { Image } from "astro:assets"
---

<header id="header">
    <a href="#" class="w-64">
        <Image src={logoDetikcom} alt="A description of my image." />
    </a>
    <div class="isolate block">
        <a href="#">
            <img src="https://design.detik.com/design/detik/assets/images/ads/grey-leaderboard.png" alt="" />
        </a>
    </div>
</header>

<style is:global>
    @reference "@/styles/globals.css";
    #header {
        @apply z-10 mx-auto flex h-auto w-full max-w-6xl items-center justify-between gap-2 bg-white px-4 py-5;
    }
</style>
